In [2]:
import warnings
import pandas as pd

warnings.filterwarnings('ignore')

In [5]:
def _list(pages=10):
    return pd.read_json(f'http://project-finance-backend.onrender.com/financial-list?pages={pages}')

_list()

,Country,Ticker,Name,Slug
0,USA,AAPL,Apple,apple
1,USA,NVDA,NVIDIA,nvidia
2,USA,MSFT,Microsoft,microsoft
3,USA,AMZN,Amazon,amazon
4,USA,GOOG,Alphabet (Google),alphabet-google
...,...,...,...,...
995,China,2338.HK,Weichai Power,weichai-power
996,USA,RF,Regions Financial,regions-financial
997,Israel,TEVA,Teva Pharmaceutical Industries,teva-pharmaceutical-industries
998,UK,RPRX,Royalty Pharma,royalty-pharma
999,Philippines,SVTMF,SM Investments Corporation,sm-investments-corporation

In [ ]:
def raw(slug='microsoft'):
    return pd.read_json(f'http://project-finance-backend.onrender.com/financial-raw/{slug}')

raw()

    Year   Shares  Capital  DYield   Revenue    Income     Asset    Equity
0   2025   7430.0  2815000    0.80  261800.0  113610.0  512160.0  268470.0
1   2024   7430.0  3200000    0.73  227580.0  101210.0  411970.0  206220.0
2   2023   7450.0  2794000    0.74  204090.0   82580.0  364840.0  166540.0
3   2022   7500.0  1787000    1.06  184900.0   79680.0  333770.0  141980.0
4   2021   7550.0  2522000    0.68  153280.0   60720.0  301310.0  118300.0
5   2020   7620.0  1681000    0.94  134240.0   49850.0  286550.0  102330.0
6   2019   7690.0  1200000    1.20  118450.0   39920.0  258840.0   82710.0
7   2018   7710.0   780360    1.69   99980.0   29790.0  250310.0   87710.0
8   2017   7750.0   659900    1.86   88890.0   23230.0  193460.0   71990.0
9   2016   7960.0   483160    2.37   88080.0   16120.0  174470.0   80080.0
10  2015   8220.0   439670    2.33   93450.0   27280.0  172380.0   89780.0
11  2014   8320.0   381720    2.48   83430.0   28030.0  142430.0   78940.0
12  2013   8390.0   310500    2.59   72930.0   20020.0  121270.0   66360.0
13  2012   8400.0   223660    3.11   72050.0   27880.0  108700.0   57080.0
14  2011   8490.0   218380    2.62   66690.0   27090.0   86110.0   46170.0
15  2010   8850.0   234520    1.97   58680.0   21840.0   77880.0   39550.0
16  2009   8900.0   268550    1.71   61980.0   22400.0   72790.0   36280.0
17  2008   9360.0   172920    2.37   57890.0   24290.0   63170.0   31090.0
18  2007   9800.0   332110    1.15   46050.0   17410.0   69590.0   40100.0
19  2006  10560.0   291940    1.24   41350.0   17370.0   70810.0   48110.0
20  2005  10870.0   271540    1.22   38470.0   14920.0   94360.0   74820.0
21  2004  10810.0   290710   11.83   34260.0   12270.0   81730.0   64910.0
22  2003      NaN   295290    0.88   30780.0   11910.0   67640.0   52180.0
23  2002      NaN   276630    0.00   26720.0    9000.0   58830.0   47280.0
24  2001      NaN   358050    0.00   23770.0   15030.0       NaN       NaN
25  2000      NaN   230800    0.00   22610.0   13340.0       NaN       NaN
26  1999      NaN   604410    0.00   17150.0    9690.0       NaN       NaN
27  1998      NaN   348100    0.00   13090.0    6200.0       NaN       NaN
28  1997      NaN   157360    0.00    9430.0    3800.0       NaN       NaN
29  1996      NaN    99410    0.00       NaN       NaN       NaN       NaN